.golden-grid {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.golden-grid > .golden-grid__box {
  position: absolute;
}

.golden-grid--outlined > .golden-grid__box {
  box-sizing: border-box;
}
